services:
  mongo:
    image: mongo:7
    container_name: wfm-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo_data:/data/db

  app:
    build: .
    container_name: wfm-app
    restart: unless-stopped
    depends_on:
      - mongo
    ports:
      - "5010:5000"
    environment:
      PORT: "5000"
      FLASK_DEBUG: "1"
      MONGODB_URI: mongodb://root:example@mongo:27017/?authSource=admin
      MONGODB_DB: astro_journal
      MONGODB_COLLECTION: food
      APP_SECRET_KEY: "change-this-to-a-long-random-string"
      TOTP_SECRET: "D64QXNVNU23WZJUXV5IGQTASRESRSXXO"
      TOTP_ISSUER: "AstroJournal"
      TOTP_ACCOUNT: "me"
    volumes:
      - .:/app
    command: python main.py

volumes:
  mongo_data: